---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Offer1 from '../components/Offer1.astro';
import Offer2 from '../components/Offer2.astro';
import Offer3 from '../components/Offer3.astro';
import Process from '../components/Process.astro';
import Capabilities from '../components/Capabilities.astro';
import Team from '../components/Team.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main id="main">
    <Hero />
    <Offer1 />
    <Offer2 />
    <Offer3 />
    <Process />
    <Capabilities />
    <Team />
    <Contact />
  </main>
  <Footer />
</Layout>
